<h2>Lista de Productos</h2>
<p>Esta vista contiene la lista de productos haciendo fetch (get) a la ruta /api/products y renderiza esos productos. no usa web sockets por lo que se actualzia manualmente al recargar la pagina.</p>
<p>Para ir a una vista que usa web sockets para la actualziacion automatica ir a: http://localhost:8080/views/realtimeproducts</p>

<br>

{{#if products.length}}
  <ul>
    {{#each products}}
        <li>
        <h3>Titulo: {{this.title}}</h3>
        <p>Precio: ${{this.price}}</p>
        <p>Descripción: {{this.description}}</p>
        </li>
    {{/each}}
    </ul>
{{else}}
    <p>No hay productos disponibles.</p>
{{/if}}

